.divider {
  width: 150px;
  background-color: var(--color-main);
  height: 4px;
}


.submit-btn-one {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: .5s;
  background-size: 200% auto;
  color: #fff;
  border-radius: 10px;
  display: block;
  border: 0;
  font-weight: 700;
  box-shadow: 0 0 14px -7px #ed1e2b;
  background-image: linear-gradient(45deg,#165588,#ed1e2b 51%,#165588);
  cursor: pointer;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation
}

.submit-btn-one:hover {
  background-position: 100%;
  color: #fff;
  text-decoration: none
}

.submit-btn-one:active {
  transform: scale(.95)
}