/* Tailwind and DaisyUI imports */
@import 'tailwindcss';
@plugin "daisyui";

@theme inline {
    /* fonts */
    --font-adorsholipi: var(--adorsha-lipi-font), sans-serif, system-ui;
    --font-popins: var(--popins-font), sans-serif, system-ui;

    /* colors */
    --color-main: #165588;
    --color-secondary: #dc2329;
    --color-white: white;
    --color-black: black;
    --color-red: red;
}

@layer utilities {
    .menu-border {
        border-right: 1px solid #fff;
    }

    .main-bg {
        @apply bg-main;
    }
    .main-text {
        @apply text-main;
    }

    .second-bg {
        @apply bg-secondary;
    }

    .cst-br {
        border-radius: 6px;
    }
}

@layer components {
    .main-menu-items {
        @apply p-[15px_45px] text-center;
    }

    .search-btn {
        @apply inline-block bg-[#165588] text-[0.875rem] pl-[15px] pr-[15px] h-[90px] text-center text-[#fff] no-underline cursor-pointer select-none relative overflow-hidden rounded-[6px] [transition:box-shadow_0.3s_ease-in-out]  before:content-[''] before:absolute before:top-[0] before:-left-full before:w-full before:h-full before:bg-[white] before:[transition:left_0.3s_ease-in-out] before:z-0 before:opacity-80 hover:before:left-[100%];
    }

    .footer-links {
        @apply text-[18px]/[24px] font-normal duration-300 hover:text-[#808080];
    }
}
