/* Importing fonts (must be at the top of the CSS file) */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Tailwind and DaisyUI imports */
@import "tailwindcss";
@plugin "daisyui";

/* Defining the custom font face for AdorshoLipi */
@font-face {
  font-family: "AdorshoLipi";
  src: url("/fonts/custom-font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Default font for the body (English font) */
body {
  font-family: "Roboto" sans-serif; /* Default font for English */
}

/* Apply AdorshoLipi for Bangla content */
html[lang="bn"] {
  font-family: "AdorshoLipi", sans-serif; /* Default for Bangla */
}

/* Optional: You can also target specific elements like paragraphs or headings for English */
p,
h1,
h2,
h3 {
  font-family: "Roboto" sans-serif; /* English font for content */
}

/* Apply AdorshoLipi for Bangla text in paragraphs and headings */
html[lang="bn"] p,
html[lang="bn"] h1,
html[lang="bn"] h2,
html[lang="bn"] h3 {
  font-family: "AdorshoLipi", sans-serif; /* Bangla font */
}

/* Root Style */
:root {
  --main: #165588;
  --secondary: #dc2329;
  --white: white;
  --black: black;
  --red: red;
}

.menu-border {
  border-right: 1px solid #fff;
}
.main-menu-items {
  padding: 15px 45px;
  text-align: center;
}
.main-bg {
  background-color: var(--main);
}
.second-bg {
  background-color: var(--secondary);
}

.search-btn {
  display: inline-block;
  background-color: var(--main);
  font-size: 0.875rem;
  padding-left: 15px;
  padding-right: 15px;
  height: 90px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  transition: box-shadow 0.3s ease-in-out;
}

.search-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--white);
  transition: left 0.3s ease-in-out;
  z-index: 0;
  opacity: 0.8;
}

.search-btn:hover:before {
  left: 100%;
}

.search-btn span {
  position: relative;
  z-index: 1;
}
.footer-links {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  line-height: 24px;
  transition: color 0.3s;
}

.cst-br {
  border-radius: 6px;
}
